@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply bg-slate-50 text-slate-800; }
.container { @apply max-w-5xl mx-auto p-4; }
.table-truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
